.right-bar-friend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.right-bar-profile-img-container{
    margin-right: 10px;
    position: relative;
}

.right-bar-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.right-bar-online{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    object-fit: cover;
    background-color: limegreen;
    position: absolute;
    top:-2px;
    right: 0;
    border: 2px solid white;
}


.right-bar-username{
    font-weight: 500;
}