.top-bar-container{
    height: 50px;
    width: 100%;
    background-color: #1197F5;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
}
.top-bar-left{
    flex: 3;
}
.top-bar-center{
    flex: 5;
}
.search-bar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.search-icon{
    font-size: 20px !important;
    margin-left: 10px;
}

.search-input{
    border: none;
    width: 90%;
}

.search-input:focus{
    outline: none;
}
.top-bar-right{
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.top-bar-link{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.top-bar-icons{
    display: flex;
}

.top-bar-icon-item{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.top-bar-icon-badge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    color: white;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.top-bar-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}